<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><strong>Address:</strong></p>
        <p>123 Main St.</p>
        <p>City, Tx</p>
        <p>phone: 555.555.5555</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <hr>
        <p>Copyright (c) 2017 Beauty n Brow All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
