<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6">
          <p><strong>Contact:</strong> Jaime Phu</p>
          <p><strong>Address:</strong></p>
          <p>2650 Midway Rd, Ste. 220</p>
          <p>Carrollton, Tx</p>
          <p>Direct or Text: 972.890.7895</p>
        </div>
        <div class="col-md-6 text-center">
          <p><strong>Social Media</strong></p>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <hr>
        <p>Copyright (c) 2017 Beauty n Brow All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
