---
title: Beauty N Brow - FAQ
---

<section id="faq">
  <div class="jumbotron content-header">
    <div class="container">
      <h1 class="text-center">FAQ</h1>
      <h3><i class="fa fa-instagram" aria-hidden="true"></i></h3>
      <h3><i class="fa fa-twitter-square" aria-hidden="true"></i></h3>
      <h3><i class="fa fa-facebook-square" aria-hidden="true"></i></h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>Q: What is Microblading?</strong></p>
        <p><strong>A:</strong> Microblading, also known by a variety of names such as embroidery, microstroking, feather touch and hair like strokes, is a form of permanent makeup that provides a means to partially or fully camouflage missing eyebrow hair with the appearance of simulated hair using fine deposits of cosmetic tattoo pigments. Over time the strokes can blur and fade and will need to be refreshed.</p>
        <br>
        <p><strong>Q: What is Microblading?</strong></p>
        <p><strong>A:</strong> Microblading, also known by a variety of names such as embroidery, microstroking, feather touch and hair like strokes, is a form of permanent makeup that provides a means to partially or fully camouflage missing eyebrow hair with the appearance of simulated hair using fine deposits of cosmetic tattoo pigments. Over time the strokes can blur and fade and will need to be refreshed.</p>
        <br>
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /#faq -->
