---
title: Beauty N Brow - Gallery
---
<section id="gallery">
  <div class="jumbotron content-header">
    <div class="container">
      <h1 class="text-center">Gallery</h1>
      <h3><i class="fa fa-instagram" aria-hidden="true"></i></h3>
      <h3><i class="fa fa-twitter-square" aria-hidden="true"></i></h3>
      <h3><i class="fa fa-facebook-square" aria-hidden="true"></i></h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-rounded" src="/images/brow_example1.png" alt="image1">
      </div>
      <div class="col-md-4">
        <img class="img-rounded" src="/images/brow_example1.png" alt="image1">
      </div>
      <div class="col-md-4">
        <img class="img-rounded" src="/images/brow_example1.png" alt="image1">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img class="img-rounded" src="/images/brow_example2.png" alt="image2">
      </div>
      <div class="col-md-4">
        <img class="img-rounded" src="/images/brow_example2.png" alt="image2">
      </div>
      <div class="col-md-4">
        <img class="img-rounded" src="/images/brow_example2.png" alt="image2">
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /#gallery -->
