---
title: Beauty N Brow - Services
---

<section id="services">
  <div class="jumbotron content-header">
    <div class="container">
      <h1 class="text-center">Services & Pricing</h1>
      <h3><i class="fa fa-instagram" aria-hidden="true"></i></h3>
      <h3><i class="fa fa-twitter-square" aria-hidden="true"></i></h3>
      <h3><i class="fa fa-facebook-square" aria-hidden="true"></i></h3>
    </div>
  </div>
  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Microblading</h3>
            <p>Short description of microblading service</p>
            <p>Price: $300.00</p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Nails</h3>
            <p>Short description of nails service</p>
            <p>Price: $300.00</p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Makeup</h3>
            <p>Short description of makeup service</p>
            <p>Price: $300.00</p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /#about -->
