---
title: Beauty N Brow - Services
---

<section id="services">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Services</h2>
      <div class="col-md-4">
        <h4>Microblade</h4>
        <p>Description of service...</p>
        <p>Price: $5000.00</p>
      </div>
      <div class="col-md-4">
        <h4>Follow up</h4>
        <p>Description of service...</p>
        <p>Price: $5000.00</p>
      </div>
      <div class="col-md-4">
        <h4>Make up</h4>
        <p>Description of service...</p>
        <p>Price: $5000.00</p>
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /#about -->
