---
title: Welcome to Beauty N Brow
---
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /#about -->

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Contact</h2>
        <form action="" class="form-horizontal">
          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Enter email.." required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="phone" placeholder="Enter phone (optional)">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="8" cols="80" placeholder="Enter message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary btn-block">
          </div>
        </form>
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /#contact -->
