---
title: Beauty N Brow
---
<section id="home" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="index-content col-sm-6">
        <h1>Beauty & Brows</h1>
        <h3>Love Thy Brows (^_^)</h3>
        <h3><i class="fa fa-instagram" aria-hidden="true"></i></h3>
        <h3><i class="fa fa-twitter-square" aria-hidden="true"></i></h3>
        <h3><i class="fa fa-facebook-square" aria-hidden="true"></i></h3>
      </div>
    </div>
  </div>
</section>
